<form [formGroup]="ligneInventaireForm" (ngSubmit)="onSubmit(ligneInventaireForm.value); emplacement.focus()">
  <div>
    <label name="designationLabel">{{designation}}</label>
  </div>
  <div>
    <label class="titre">Emplacement</label>
    <input class="form-control" type="text" (change)="getEmplacement(emplacement.value)" #emplacement [formControlName]="'emplacement'" />
  </div>
  <div>
    <label class="titre">Code Article + Lot</label>
    <input class="form-control" type="text" name="codeArtLot" (change)="getInfosArticle(ligneInventaireForm.controls['codeArticleLot'].value)" [formControlName]="'codeArticleLot'" />
  </div>
  <div>
    <label class="titre">Quantite</label>
    <input class="form-control input-qte" type="number" [formControlName]="'quantite'" />
    <label class="uniteLabel">{{unite}}</label>
  </div>
  <div>
    <label class="erreurLabel">{{erreur}}</label>
  </div>
  <div>
    <button class="btn btn-success btn_saisie" type="submit">Envoyer</button>
  </div>


  <br><br><br>
  <form (ngSubmit)="checkMdp($event)">
    <div>
      <label class="titre">Mot de passe Admin</label>
      <input id="mdp" class="mdp_admin" #mdp type="password"/>
      <button class="btn btn-success btn_admin" type="submit">Modifier</button>
    </div>
  </form>
  <div>
    <label class="titre">Equipe</label>
    <input class="form-control" type="number" [readOnly]="readonly()" [formControlName]="'numEquipe'" />
  </div>
  <div>
    <label class="titre">Passage</label>
    <input class="form-control" type="number" [readOnly]="readonly()" [formControlName]="'numPassage'" />
  </div>
  <div>
    <label class="titre">Zone</label>
    <input class="form-control" type="text" [readOnly]="readonly()" [formControlName]="'zone'" />
  </div>
  <div>
    <button class="btn btn-success btn_saisie" (click)="paramSubmit($event); mdp.value=''" type="button">Enregistrer</button>
  </div>
</form>
